body {
	margin: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	color: #283136;

	background-color: #fff;
}

a {
	text-decoration: none;
}

.visibility-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
	font-weight: 500;
	line-height: 1.88;
	text-transform: uppercase;
	color: #000;

	background-color: #eee;
}

.site-navigation,
.user-cart,
.main-offers__list,
.filters__list,
.catalog-content__list {
	list-style: none;
}

.site-navigation a,
.user-cart a {
	color: #000;
}

.site-navigation a:hover,
.user-cart a:hover {
	color: #fb565a;
}

.site-navigation a:active,
.user-cart a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-offers__heading {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25;
	color: #000;
	text-transform: uppercase;

	background-color: #fff;
}

.main-offers__button {
	display: flex;
	width: 160px;
	height: 50px;

	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-weight: 500;
	line-height: 1.13;
	text-transform: uppercase;
	color: #fff;
}

.main-offers__item-web a {
	background-color: #fb565a;
}

.main-offers__item-web a:hover {
	background-color: #e74246;
}

.main-offers__item-web a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

.main-offers__item-app a {
	background-color: #00ca74;
}

.main-offers__item-app a:hover {
	background-color: #00bc6c;
}

.main-offers__item-app a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: 00aa62;
}

.main-offers__item-presentation a {
	background-color: #efc84a;
}

.main-offers__item-presentation a:hover {
	background-color: #eab534;
}

.main-offers__item-presentation a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
}

.footer-social__list {
	list-style: none;
}

.footer-social__pic {
	background-color: #e1e1e1;
}

.footer-social__tagline {
	font-size: 36px;
	font-weight: bold;
	line-height: 1;
	color: #000;

	background-color: #fff;
}

.page-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 1;
	color: #000;
	text-align: center;

	background-color: #eee;
}

.filters__form fieldset {
	border: 0;
}

.filters__button {
	width: 260px;
	height: 50px;
	font-weight: 500;
	line-height: 1.13;
	text-transform: uppercase;
	color: #000;

	background-color: #eee;
}

.filters__legend {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.67;
	text-transform: uppercase;
}

.catalog-content__heading a{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.67;
	text-transform: uppercase;
	color: #000;
}

.catalog-content__heading a:hover {
	color: #fb565a;
}

.catalog-content__heading a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-content__button {
	display: flex;
	width: 200px;
	height: 50px;
	color: #fff;
	text-transform: uppercase;
	align-items: center;
	justify-content: center;

	background-color: #fb565a;
}

.catalog-content__button:hover {
	background-color: #e74246;
}

.catalog-content__button:active {
	background-color: #d7373b;
}

.container {
	display: flex;
	margin: 0 auto;
	widows: 1160px;
	padding: 0 20px;
	justify-content: center;
}

.main-navigation {
	display: flex;
}

.main-header__link {
	margin: 49px 202px 85px 0;
}

.site-navigation {
	display: flex;
	margin: 83px 245px 36px 0;
}

.user-cart {
	display: flex;
	margin: 83px 0 36px 0;
}

.user-cart__item {
	display: flex;
}

.site-navigation__clients {
	margin: 0 48px 0 47px;
}

.site-navigation__shop {
	margin-right: 45px;
}

.main-offers__list {
	display: flex;
}

.main-offers__item-web {
	margin: 80px 100px 80px 0;
}

.main-offers__item-app {
	margin: 80px 100px 80px 0;
}

.main-offers__item-presentation {
	margin: 80px 0;
}

.footer-social {
	display: flex;
}

.footer-social__list {
	display: flex;
}

.footer-social__item-vk {
	margin: 69px 12px 69px 0;
}

.footer-social__item-fb {
	margin: 69px 11px 69px 0;
}

.footer-social__item-ig {
	margin: 69px 139px 69px 0;
}

.footer-social__text {
	margin: 78px 0 76px 139px;
	width: 545px;
}

.catalog-title {
	width: 1160px;
	padding: 0 20px;
}

.page-title {
	text-align: center;
}

.catalog-content {
	margin-left: 140px;
}

.catalog-content__list {
	display: flex;
	flex-wrap: wrap;
}

.catalog-content__item {
	margin-right: 40px;
}